:root,
[data-theme="default"] {   
   --clr-white: #fff; 
   --clr-one: #232323 ;  
   --clr-two: #C3964E ;  
   --clr-three : #828282;
   --clr-four : #ff7a56 ;    
   --bg-1: #f1edea ;     
   --nav-mb-bg:  #F7F7F7 ; 

   --footer-bg-1: #262b35 ;  
   --footer-bg-2: #1f232c ;  
   --footer-font: #8890a4;    
}

